{% extends 'website/base.html' %}
{% block title %}Add club{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid" style="background-color: silver; padding-top:5%;">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="card text-black bg-success mb-3">
            <div class="card card-body" style="background-color: lightskyblue;">
            <div class="panel panel-success" style="margin:2px;" >
                <div class="panel-body">
                    <h4 class="card card-header">{%if object %}Update Club{%else%}Add club{% endif %}</h4>

                                <div class="col-sm-3"></div>
                                <div class="col-sm-6">
                                    <form method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {{form|crispy}}<br>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </form>
                                </div>
                        </div>
                    </div>
                        </div>
                    </div>
                </div>
            </div>


{% endblock %}