{% extends 'website/base.html' %}
{% block title%}Departments{%endblock%}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    {% if departments %}
    <div class="row">
        {%for department in departments%}
        <div class="col-sm-3">
            <h5 class="text-right"><a href="{% url 'website:create_department' %}">Add department</a></h5>
            <div class="card text-white bg-dark mb-3" style="width:18rem">
                <div class="card-body">
                    <h4 class="card-header">{{department.department_name}}department</h4>
                    <div class="caption">
                        Department Head:
                        <h4>{{department.department_head}}</h4>
                        Department Assistant:
                        <h4>{{department.sub_head}}</h4>
                        <a href="{% url 'website:update-department' department.id %}"><i class="fas fa-edit"></i></a>
                        <a href="{% url 'website:delete-department' department.id %}"><i class="fas fa-trash"></i></a>
                    </div>

            </div>
            </div>
        </div>
        {%endfor%}
    {% endif %}

    </div>
</div>
















{% endblock %}
