{% extends 'website/base.html' %}
{% block title %}{% endblock %}
{% block content %}
<div class="container-fluid" style="background-color: silver;">

    <div class="row">

        {% if abouts %}
        {% for about in abouts %}
        <img src="{{about.logo.url}}"  alt="About School" style="height:400px; width:100%;">

    </div>
    <hr>
        <h5 class="text-center"><i class="btn btn-lg btn-warning">About Us</a></i></h5><br>
            <div class="row" style="background-color: silver;">
                <div class="col-sm-4">
                    <div class="card card-body" style="background-color: lightskyblue;">
                    <b>Motto</b>
                    <p>{{about.motto}}</p>
                    <a href="{% url 'website:about' about.id%}"><i class="fas fa-edit"></i> </a>
                    </div>
                </div>


                <div class="col-sm-4">
                    <div class="card card-body" style="background-color: lightskyblue;">
                     <b>Mission</b>
                    <p>{{about.mission}}</p>
                    <a href="{% url 'website:about' about.id%}"><i class="fas fa-edit"></i> </a>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card card-body" style="background-color: lightskyblue;">
                     <b>Vision</b>
                    <p>{{about.vision}}</p>
                    <a href="{% url 'website:about' about.id%}"><i class="fas fa-edit"></i> </a>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% endif %}

        <hr>

            <div class="container" style="background-color: silver;">

                 <h5 class="text-center"><a href="{% url 'website:index' %}" class="btn btn-lg btn-warning">Staff Details</a></h5><br>
                <hr>

                <div class="row">
                {% if staffs %}
                {% for staff in staffs %}
                 <div class="col-sm-3">
                     <div class="card text-black bg-info mb-3" >
                         <div class="card card-body" style="background-color: lightskyblue;">
                            <div class="thumbnail" >
                                    <img src="{{staff.staff_cover.url}}" class="img img-responsive img-circle" alt="" style="height:150px; width:100%;">
                                <div class="caption" >
                                    <h5>Role:{{staff.role}}</h5>
                                    <h6>Name:{{staff.staff_name}}</h6>
                                    <h6>Id no:{{staff.id_number}}</h6>
                                    <h6>Contact:{{staff.contact}}</h6>
                                    <a href="{% url 'website:update-staff' staff.id %}" class="btn btn-info btn-sm"><i class="fas fa-edit"></i> </a>
                                    <a href="{% url 'website:delete-staff' staff.id %}" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i> </a>
                                </div>
                            </div>
                         </div>
                     </div>


                </div>
                  {% endfor %}
                {% endif %}


            </div>
            </div>




{% endblock %}